@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 4rem;
}

p, .choice-label {
    font-size: 1.5rem;
}

.question > strong {
    font-size: 1.8rem;
}

.title {
    border-bottom: 1px solid #d6d6d6;
}

.main-section {
    max-width: 750px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.submit-btn {
    background-color: #004fbd;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-radius: .5rem;
    padding: 1rem 0;
    width: 8rem;
    text-align: center;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}

.choices {
    list-style: none;
}

.choices li {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.choice-radio {
    width: 1.5rem;
    height: 1.5rem;
}

.question {
    border-bottom: 1px solid #e8e8e8;
}

.error {
    color: #9d1010;
    opacity: 0;
    transition: 0.5s;
}

.error.active {
    opacity: 1;
}